<manifest package="org.jaram.ds"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".SongApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name=".Order"-->
        <!--android:screenOrientation="landscape"/>-->
        <!--<activity-->
        <!--android:name=".Admin"-->
        <!--android:screenOrientation="landscape"/>-->
        <activity
            android:name=".activities.OrderManageActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".activities.OrderActivity"/>
        <activity
            android:name=".activities.StatisticActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".activities.MenuManageActivity"
            android:launchMode="singleInstance"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c4620543791742d34db26f2876e1e95f50064b5d"/>
    </application>

</manifest>
